<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Жанры</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/style.css"/>
</head>

<body>
<div>
    <h1>Жанры:</h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Название</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.genreId}">1</td>
                <td th:text="${genre.genreName}">Научная фантастика</td>
            </tr>
            </tbody>
        </table>
        <div class="spacer"></div>
        <div class="link">
            <a href="/lib/genre/add">Добавить</a>
        </div>
    </div>
</div>
<div th:include="footer"></div>
</body>
</html>
